<footer class="footer">
    <div class="logo-footer">   
        <a href="/"><img src="/images/logo-vegan.png" alt="Vegan Meal" ></a>
       
    </div>
    <h3>100% Natural</h3>
   <div class="redes-sociales">
        <h3>Siguenos en redes sociales</h3>
        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-square"></i>Facebook</a>
        <a href="https://www.facebook.com/"><i class="fa-brands fa-instagram-square"></i></i>Instagram</a>
        <a href="https://www.facebook.com/"><i class="fa-brands fa-twitter-square"></i></i>Twitter</a>
   </div>

</footer>