<div class="logo">
    <a href="/"><img src="/images/logo-vegan.png" alt="Vegan Meal" ></a>
</div>
<div class="navegacion">
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
    <nav class="menu">
        <div class="menu-inicio">
            <a href="/">Inicio</a>
        </div>
        <div class="menu-productos">
            <a href="detalle">Productos</a>
        </div>
        <div class="menu-registro">
            <a href="registro">Registro</a>
        </div>
        <div class="menu-login">
            <a href="login">Login</a>
        </div>
    </nav>
</div>
<div class="busqueda"> 
    <input type="text" placeholder="Búsqueda" id="busqueda">
</div>
<div class="cart">
        <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>   
</div>