<!DOCTYPE html>
<html lang="en">
 <!-- Page head -->
 <%- include('./partials/head') %>
<body>
    <!-- header -->
        
    <%- include('./partials/header') %>
    <!-- Page content -->
    <main>
        <section>
            <div class="carrousel"><!--placeholder carrousel-->
                <img src="/images/carrousel_placeholder.jpeg" alt="Comidas Veganas">
            </div>
        </section>
        <section>
            <h2>Destacados</h2>
            <div class="destacados">
                <div class="destacado1">
                    <img src="/images/ofertas.jpg" alt="ofertas">
                    <p>Cuidá tu cuerpo y tu bolsillo con estas increibles ofertas!</p>
                </div>
                <div class="destacado2">
                    <img src="/images/guia_vegana.png" alt="guia_vegana">
                    <p>Quisiera ser vegano, pero por donde empiezo?</p>
                </div>
                <div class="destacado3">
                    <img src="/images/organico.jpg" alt="organico">
                    <p>Conocé mas sobre la agricultura orgánica y sus beneficios para tu salud y el planeta</p>
                </div>
            </div>
        </section>
        <section>
            <h2>Categorías</h2>
            <div class="categorias">
                <div class="frescos">
                    <img src="/images/huerta.jpeg" alt="huerta">
                    <p>Nuestra Huerta</p>
                </div>
                <div class="congelados">
                    <img src="/images/congelados.jpg" alt="congelados">
                    <p>Congelados</p>
                </div>
                <div class="viandas">
                    <img src="/images/viandas.jpg" alt="viandas saludables">
                    <p>Viandas Saludables</p>
                </div>
                <div class="harinas">
                    <img src="/images/frutos_secos.jpg" alt="frutos secos">
                    <p>Harinas y Frutos Secos</p>
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>