<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VeganMeals</title>
</head>
<body>
    <header>
        <!--<h1>Vegan;VeganMeals;comidas veganas</h1> -->
        <nav>
            <div .img>logo_imagen</div>
            <ul>
                <li>Nosotros</li>
                <li>Productos</li>
                <li>Contactanos</li>
                <li>Login</li>
            </ul>
        </nav>
        <input type="text">
        <div .img>carrito_imagen</div>
    </header>
    <main>
        <section>
            <div>Carrousel<div>
                <ul>
                    <li>Imagen 1</li>
                    <li>Imagen 2</li>
                    <li>Imagen 3</li>
                </ul>
        </section>
        <section>
            <h2>Destacados</h2>
            <ul>
                <li>Imagen 1</li>
                    <p>Descripcion 1</p>
                <li>Imagen 2</li>
                    <p>Descripcion 2</p>
                <li>Imagen 3</li>
                    <p>Descripcion 3</p>
            </ul>
        </section>
        <section>
            <h2>Categorias</h2>
            <ul>
                <li>Categoria 1</li>
                <li>Categoria 2</li>
                <li>Categoria 3</li>
                <li>Categoria 4</li>
            </ul>
        </section>
    </main>
    <footer>
        <div .img>logo_imagen</div>
        <div>100% ORIGEN VEGETAL</div>
        <ul>
            <li>Seguinos</li>
            <li .img>Facebook</li>
            <li .img>Instagram</li>
            <li .img>Twitter</li>
        </ul>
    </footer>
</body>
</html>