<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="css/styles_login.css">
    <!--Letras sacadas de goolge-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    
</head>

<body>
    <header class="cabecera">
            <div class="logo">
                <img src="images/logo-vegan.png" alt="logo"  width="110px">
            </div>
        <nav class="menu">
            <div class="menu-inicio">
                <a href="/" >Inicio</a>
            </div>
            <div class="menu-productos">
                <a href="detalle">Productos</a>
            </div>
            <div class="menu-registro">
                <a href="#">Registro</a>
            </div>
            <div class="menu-login">
                <a href="#">Login</a>            
            </div>
        </nav>
            <div class="busqueda">
                <input type="text">
            </div>
    </header>
    <main>
        <form action="" class="formulario">
                <fieldset>
                    <legend> Ingrese sus datos</legend>
                </fieldset>
                <div>
                    <label for="">Ingrese su nombre o e-mail</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Ingrese su contraseña</label>
                    <input type="text">
                </div>
                </fieldset>
                <input type="submit">
        </form>
    </main>
    <footer>
        <div>
            <img src="" alt="">
            <h3>100% Origen Vegetal</h3>
        </div>
        <div>
        </div>
    </footer>

    
</body>
</html>