<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VeganMeals</title>
    </head>
    <body>
        <form action="/" method="get" class="carrito">
            <main>
                <section class="">
                    <h3>Productos seleccionados</h3>
                    <div class="">
                        <article>
                            <img src="images/pan_artesanal.jpg" alt="Producto 1" class="product_img">
                            <div class="main-article">
                                <i class="fas fa-truck"></i>
                                <p class="price">$1111111</p>                            
                                <h4 class="description">Pan artesanal</h4>
                                <span class="a-button-inner"><span class="a-button-text a-declarative" data-csa-c-func-deps="aui-da-a-dropdown-button" data-csa-c-type="widget" data-csa-interaction-events="click" data-action="a-dropdown-button" aria-hidden="true" id="a-autoid-0-announce" data-csa-c-id="5hov2e-emgnok-7u1zex-3e5tfv"><span class="a-dropdown-label">Cant.:<span class="sc-offscreen-label" aria-label="Cant."></span></span><span class="a-dropdown-prompt">1</span></span><i class="a-icon a-icon-dropdown"></i></span>
                            </div>
                        </article>
                    </div>
                </section>
            </main>
        </form>
        
        <footer>
            <div .img>logo_imagen</div>
            <div>100% ORIGEN VEGETAL</div>
            <ul>
                <li>Seguinos</li>
                <li .img>Facebook</li>
                <li .img>Instagram</li>
                <li .img>Twitter</li>
            </ul>
        </footer>
    </body>
</html>