<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VeganMeals</title>
    <link href="/css/styles_detail.css" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/e6277f39af.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
<header class="cabecera">
    <!--<h1>Vegan;VeganMeals;comidas veganas</h1> -->
    <div class="logo">
        <a href="/"><img src="/images/logo-vegan.png" alt="Vegan Meal" ></a>
    </div>
    <div class="navegacion">
    
        <div class="burguer-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    
        <nav class="menu">
    
            <div class="menu-inicio">
                <a href="/">Inicio</a>
            </div>
            <div class="menu-productos">
                <a href="/detalle">Productos</a>
            </div>
            <div class="menu-registro">
                <a href="/registro">Registro</a>
            </div>
            <div class="menu-login">
                <a href="/login">Login</a>
            </div>
        </nav>
    </div>
    
    <div class="busqueda"> 
        <input type="text" placeholder="Búsqueda" id="busqueda">
    </div>
    <div class="cart">
            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>   
    </div>
</header>


<main>
    <div class="bloque_1"> 
        <img src="./images/galletas-veganas.webp" width="90%" height="250px"></img>
        <h4>Descripción del producto</h4>
        <p>Galleta vegana con sabor a cacao, con nueces, proteina y sin azucar</p>
    </div>  
    <div class="bloque_2">
        <h2>Galleta raices de chocolate</h2>
        <p>Ingredientes 100% naturales</p>

        <ul>
            <li>Libre de gluten y soya</li>
            <li>Endulzado con stevia</li>
            <li>Sin grasas trans</li>
        </ul>

        <h2 class="precio">$ 11111</h2>

    <div class="carrito">
        <div>
            <label for="Cantidad" class="description">Cantidad: </label>
            <select name="Cantidad" class="description">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div>
            <label for="Eliminar" class="description"> </label>
            <i class="fa-solid fa-trash-can"></i>
        </div>

        <a href="/carrito"> <input type="submit" value="Agregar al carrito"> </a>
    </div>


        <h4 class="subtotal">Subtotal $ 11111</h4>

        <p class="alerta">Importante: Chequea en la imagen del producto si debe ser refrigerado</p>

    </div>
</main>
<footer class="footer">
    <div class="logo-footer">   
        <img src="/images/logo-vegan.png" alt="Vegan Meal">
       
    </div>
    <h3>100% Natural</h3>
   <div class="redes-sociales">
        <h3>Siguenos en redes sociales</h3>
        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-square"></i>Facebook</a>
        <a href="https://www.facebook.com/"><i class="fa-brands fa-instagram-square"></i></i>Instagram</a>
        <a href="https://www.facebook.com/"><i class="fa-brands fa-twitter-square"></i></i>Twitter</a>
   </div>

</footer>
</body>
</html>