<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e6277f39af.js" crossorigin="anonymous"></script>
    <!-- google fonts lato parrafos y lobster titulos -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/styles.css">
    <title>Registro - Vegan/Meat</title>
</head>
<body>
    <header>
        <!--<h1>Vegan;VeganMeals;comidas veganas</h1> -->
        <div .img>logo_imagen</div>
        <nav>
            <a href="/">Inicio</a>
            <a href="detalle">Productos</a>
            <a href="#">Contactenos</a>
            <a href="#">Login</a>            
        </nav>
        <input type="text">
        <div>            
            <i class="fa-solid fa-cart-shopping">Carrito </i>
        </div>
    </header>
    <main>
        <form class="formulario">
            <fieldset>
                <legend>Crear Cuenta</legend>
                    <div class="campo">
                        <label for="nombre">Nombre Completos</label>
                        <input type="text" placeholder="Coloca tu nombre" id="nombre">
                    </div>
                    <div class="campo">
                        <label for="email">Correo electronico</label>
                        <input type="email" placeholder="nombre@tucorreo" id="email">
                    </div>
                    <div class="campo">
                        <label for="password">Contraseña</label>
                        <input type="password" placeholder="Tu contraseña" id="password">
                    </div>
                    <div class="campo">
                        <label for="password">Repetir Contraseña</label>
                        <input type="password" placeholder="Tu contraseña" id="password">
                    </div>
                    
            </fieldset>
            
            <input type="submit" value="Ingreso" class="btn">
            
        </form>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad tempore a quas dignissimos dolore aut, nisi unde labore consequuntur similique provident, placeat pariatur molestias! Consequuntur ut sed fuga cumque beatae!</p>
    </main>
    <footer>
        <div .img>logo_imagen</div>
         <p>100% ORIGEN VEGETAL</p>
       <div class="redes-sociales">
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-square"></i>Facebook</a>
            <a href="https://www.facebook.com/"><i class="fa-brands fa-instagram-square"></i></i>Instagram</a>
            <a href="https://www.facebook.com/"><i class="fa-brands fa-twitter-square"></i></i>Twitter</a>
       </div>

    </footer>
</body>
</html>