*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; 
    background-color: #f5ebcb;
}
a {
    text-decoration: none;
    color: #000;
}

body{
    font-family: 'Lobster Two';
    font-size: 1rem;
    line-height: 2;
}

/* Header */
.cabecera {
    border: 1px solid #809A6F;
    padding: 0 1rem;
    display: flex;
    justify-content: space-around;    
}


.cabecera .logo,
.cabecera .busqueda {
    flex-basis: calc(20% - 1rem);
}
.cabecera .navegacion {
    flex-basis: calc(60% - 1rem);/* Doy mas espacio a el nav de menu */
}
.logo img {
    text-align: center;
    max-width: 5rem;
    margin: 0 auto;
}

.cabecera .menu {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.menu-inicio a {
    color: #9EB23B;
}

.menu-productos a {
    color: #CC9C75;
}

.menu-registro a {
    color: #D57E7E;
}

.menu-login a {
    color: #809A6F
} 
.cabecera .busqueda {
    width:  4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.busqueda .fa-solid {
    font-size: smaller;
} 

.cabecera .busqueda:nth-child(2) {
    align-items: center;
}

main section div  .main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
}

.price{
    font-size: 15px;
    width: 30%;
}
h4 .description{
    font-size: 20px;
    font-weight: normal;
}

.img_carrito{
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;
}


@media (min-width: 320px){
    .cabecera .navegacion .menu{
        display: none;
    }
    .cabecera .navegacion .burger-menu{
        display: block;
    }
    .cabecera .navegacion .cart{
        border-top: 5px;
    }
}

@media (min-width: 720px){
    body {
        font-size: 1.6rem;
    
    }
    .cabecera {
        padding: 0 5rem;
        align-items: center;      
    }

    .cabecera .logo,
    .cabecera .busqueda {
        flex-basis: calc(20% - 1rem);
    }
    .cabecera .navegacion {
        flex-basis: calc(60% - 1rem);/* Doy mas espacio a el nav de menu */
    }

    .logo img {
        max-width: 10rem;
    }
    .cabecera .navegacion .burger-menu{
        display: none;
    }
    .cabecera .navegacion .menu{
        display: block;
        display: flex;
    }
    
    .cabecera .menu {
        font-size: 1.8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    } 

    .busqueda .fa-solid {
        font-size: large;
    }

    .cart{
        border-top: 5px;
    }
}

/* Footer */
.footer {
    border: 1px solid #809A6F;
    padding: 0 1rem;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo-footer img {
    text-align: center;
    max-width: 5rem;
    margin: 0 auto;
}

@media (min-width: 720px) {
    .logo-footer img {
        max-width: 10rem;
    }
}