
main section div  .main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
}

.price{
    font-size: 15px;
    width: 30%;
}
h4 .description{
    font-size: 20px;
    font-weight: normal;
}

.img_carrito{
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;
}