


/* body */
.carrousel {
    border: 1px solid #809A6F;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%

}
img{
    max-width: 100%;
    height: auto;
}
.destacados {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.destacados1 {
}
.destacado2 {
    padding-left: 2%;
}
.destacado3 {
    padding-left: 2%;
}

.categorias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.frescos {
    width: 150px;
    height: auto;}

.congelados {
    width: 150px;
    height: auto;}

.viandas {
    width: 150px;
    height: auto;}

.harinas {
    width: 150px;
    height: auto;}


