html {
    box-sizing: border-box;
    font-size: 62.5%; 
    background-color: #f5ebcb; 
}
a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: 'Lobster Two';
    font-size: 1rem;
    line-height: 2;
}
p {
    font-family: 'Lato';
}

@media (min-width: 720px) {
    body {
        font-size: 1.6rem;
    }
    
}

/* Header */

.cabecera {
    
    border: 1px solid #809A6F;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #f5ebcb; 
}

.cabecera .logo,
.cabecera .busqueda {
    flex-basis: calc(30% - 1rem);
}
.cabecera .navegacion {
    flex-basis: calc(30% - 1rem);/* Doy mas espacio a el nav de menu */
}
.logo img {
    text-align: center;
    max-width: 5rem;
    margin: 0 auto;
}
.navegacion .burguer-menu {
    display: block;
    align-items: center;
    color: #9EB23B;
    font-size: 2.5rem;
}

.cabecera .menu {
    display: none;
}

.cabecera .busqueda {
    width:  4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.busqueda .fa-solid {
    font-size: smaller;
} 

.cabecera .busqueda:nth-child(2) {
    align-items: center;
}
@media (min-width: 720px) {
    .cabecera {
        padding: 0 5rem;
        align-items: center;     
    }
    .cabecera .logo,
    .cabecera .busqueda {
        flex-basis: calc(20% - 1rem);
    }
    .cabecera .navegacion {
        flex-basis: calc(60% - 1rem);/* Doy mas espacio a el nav de menu */
    }

    .logo img {
        max-width: 10rem;
    }
    .navegacion .burguer-menu {
        display: none;
    }
    .cabecera .menu {
        display: flex;
        justify-content: space-around;
        
    }
    .menu-inicio a {
        color: #9EB23B;
    }
    
    .menu-productos a {
        color: #CC9C75;
    }
    
    .menu-registro a {
        color: #D57E7E;
    }
    
    .menu-login a {
        color: #809A6F
    } 
    .busqueda .fa-solid {
        font-size: large;
    }

}

/* body */
.carrousel {
    border: 1px solid #809A6F;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
img{
    max-width: 100%;
    height: auto;
}
.destacados {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.destacados1 {
}
.destacado2 {
    padding-left: 2%;
}
.destacado3 {
    padding-left: 2%;
}

.categorias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.frescos {
    width: 150px;
    height: auto;}

.congelados {
    width: 150px;
    height: auto;}

.viandas {
    width: 150px;
    height: auto;}

.harinas {
    width: 150px;
    height: auto;}

/* Footer */
.footer {
    border: 1px solid #809A6F;
    padding: 0 1rem;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo-footer img {
    text-align: center;
    max-width: 5rem;
    margin: 0 auto;
}

@media (min-width: 720px) {
    .logo-footer img {
        max-width: 10rem;
    }
}