*{
    box-shadow: none;
    outline:none;
}

/* Formulario Ingreso */
.formulario {
    width: 30rem;
    padding-top: 2.5rem;
    margin: 0 auto;
}

.formulario-error{
    border-color: 1px solid red;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgb(255, 0, 0);
    outline: 0 none;
}

.formulario fieldset {
    border: 1px solid #809A6F;
}

.formulario legend {
    background-color: #9FC088;
    color: #fff;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 4rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo label {
    flex-basis: 15rem;
}

.campo input {
    flex: 1;
    border: 1px solid #9EB23B;
}
.fa-circle-check{
    color:#46bb36;
    position: absolute;
    left:95rem;
    margin-top: 9px;
   
    display: none;   
}
.error-nombre{
    display: none;
    font-size: 1.3rem;
    position: absolute;
    margin-left:15rem;
    margin-top:2.5rem;
    color:red
}

.campo input{
    flex: 1;
    border: 1px solid #9EB23B;
}



.campo input::first-line{
    border: 1px solid #CC9C75;
}
.unidad-medida {
    display: flex;
    justify-items: auto;
}
.categoria {
    display: flex;
    justify-content: auto;
}
.btn {
    
        font-family: 'Lobster Two', cursive;
        background-color: #9FC088;
        display: block;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 0.5rem;
        padding: 1rem;
        transition: background-color .3s ease-out ;
        text-align: center;
        border: none;
        width: 100%;
}

.btn:hover {
    background-color: #FFE1AF;
} 

.formulario-grupo-input{
    position: relative;
}
.formulario__label{
    display: block;
    cursor: pointer;
}

.formulario-grupo-input{
    position:relative
}
.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	height: 45px;
	line-height: 40px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}


/*
.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}
*/
.formulario__input-error {
	font-size: 15px;
	color:rgb(197, 28, 28);
    position:absolute;
    margin-top: 40px;
    margin-left:150px;
	display: none;  
}

.formulario__input-error-activado{
    display: block;
}
.formulario__validacion-estado{

    position:absolute;
    right:10px;
    bottom: 13px;
    color:red;
    opacity: 0;
    

}

.formulario__mensaje {
    
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
    display: none;
  
}

.formulario__mensaje p{
    text-align: center;
}
.formulario__mensaje-exito {
	font-size: 20px;
	color: #46bb36;
    text-align: center;
    display: none;
}
.formulario__mensaje-exito-activado {
	
    display: block;
}


/*-----------VALIACIONES---------*/


/*.campo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.campo-incorrecto .formulario__label {
	color: #bb2929;
}

.campo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.campo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}*/

.incorrecto{
    border-color: red;
}


@media (min-width: 720px) {
    .formulario {
        width: 60rem; 
        padding-top: 5rem;      
    }
    .btn {
        font-weight: 900;
    }
}

