

/* Formulario Ingreso */
.formulario {
    width: 30rem;
    padding-top: 2.5rem;
    margin: 0 auto;
}

.formulario fieldset {
    border: 1px solid #809A6F;
}

.formulario legend {
    background-color: #9FC088;
    color: #fff;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 4rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo label {
    flex-basis: 15rem;
}

.campo input {
    flex: 1;
    border: 1px solid #9EB23B;
}
.campo input::first-line{
    border: 1px solid #CC9C75;
}
.btn {
    
        font-family: 'Lobster Two', cursive;
        background-color: #9FC088;
        display: block;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 0.5rem;
        padding: 1rem;
        transition: background-color .3s ease-out ;
        text-align: center;
        border: none;
        width: 100%;
}

.btn:hover {
    background-color: #FFE1AF;
} 

@media (min-width: 720px) {
    .formulario {
        width: 60rem; 
        padding-top: 5rem;      
    }
    .btn {
        font-weight: 900;
    }
}

