
p {
    font-family: 'Lato';
}

@media (min-width: 720px) {
    body {
        font-size: 1.6rem;
    }
    
    
}

@media (min-width: 720px) {
  

    .logo img {
        max-width: 10rem;
    }
    .navegacion .burguer-menu {
        display: none;
    }
    .cabecera .menu {
        display: flex;
        justify-content: space-around;
        
    }
    .menu-inicio a {
        color: #9EB23B;
    }
    
    .menu-productos a {
        color: #CC9C75;
    }
    
    .menu-registro a {
        color: #D57E7E;
    }
    
    .menu-login a {
        color: #809A6F
    } 
    .busqueda .fa-solid {
        font-size: large;
    }

}

/*main*/
main{
    font-size: 13px;
    
}

.bloque_1{
    text-align: center;
    margin-top: 30px;
   
}

.bloque_2{
    text-align: center;
}

.bloque_2 ul{
    text-align: justify;
}

.precio{
    color: red;
    text-align: justify;
}

.carrito{
    display: flex; 
}


.subtotal{
    color: rgb(15, 105, 38);
    text-align: justify;
}

main input{
    background-color: rgb(216, 250, 153);
    width: 190%;
    font-weight: bold;
    padding: 3px;
    margin-left: 30px ;
   
}



.alerta{
    border: dashed 3px rgb(78, 138, 78);
    font-weight: bold
   
}


@media (min-width: 720px){
    main{
        display: flex;
        justify-content: space-around;
        font-size: 18px;
    }

    .bloque_1{
        margin-right: 50px;
    }

    main input{
        padding: 5px
    }

   

}