

/*main*/

*{
    box-sizing: border-box;
    margin: 0;
    bottom: 0;
}
main{
    font-size: 13px;
    
}

.img{
    display: flex;
    justify-content: center;
    
}

.flex_container{
    margin: 10px;
    display: flex;
  
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex_container div{
    margin-top: 30px;
    padding: 5px;
    background-color: #809A6F;
    border-radius: 8px;
    flex-wrap: wrap;    
}

.productos_flex h4{
    color: whitesmoke;
    display: flex;
    font-size: 25px;
    justify-content: center;
    border-radius: 5px

}

h4:hover{
    color:whitesmoke;
    transition: 0.5s;
    background-color: #D57E7E;
    border-radius: 3rem;
}

.zoom{
    transition: transform .4s;
}

.zoom:hover{
    transform: scale(1.1);

}

.product-img{
    border: 2px solid #D57E7E;
    border-radius: 30rem;
    display: block;
    margin: 0px auto;
    width: 500;
    height: 300;   
}

.bloque_1{
    width: 45%;
    text-align: center;
    margin-top: 30px;   
}

.bloque_2{
    text-align: center;
    margin-top: 10px
}

.bloque_2 ul{
    text-align: justify;
}

.contenedor_precio {
    color: whitesmoke;
    margin: 2%;
}
.precio{
    color: #D57E7E;
    font-weight: bold;
    font-size: 25px;
    text-align: justify;
    margin-top: 20px
}

.carrito{
    display: flex; 
    margin-top: 20px
}


.subtotal{
    color: rgb(15, 105, 38);
    text-align: justify;
    margin-top: 40px
}

main input{
    background-color: rgb(216, 250, 153);
    width: 190%;
    font-weight: bold;
    padding: 3px;
    margin-left: 30px ;
   
}

.alerta{
    border: dashed 3px rgb(78, 138, 78);
    font-weight: bold;
    margin-top: 60px
   
}

.boton_eliminar{
    
    background-color: #D57E7E;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Lobster Two';
    font-size: 16px;


}

.boton_eliminar:hover {
    transition: 0.5s;
    background-color: #f44336;

}


@media (min-width: 720px){
    main{
        display: flex;
        justify-content: space-around;
        font-size: 18px;
    }

    .bloque_1{
        margin-right: 50px;
    }

    main input{
        padding: 5px
    }

    .ps-btn-danger {
        background-color: #f44336 !important;
        border-color: #f44336 !important;
      }

   

}