*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}
/* General */

a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: 'Lobster Two';
    font-size: 1.6rem;
    line-height: 2;
}
p {
    font-family: 'Lato';
}

/* Header */
.cabecera {
    display: flex;
    justify-content: space-between;
    width: 20%;
    align-items: center;
    font-size: x-large;
}
.cabecera img {
    width: 70px;
    display: block;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (min-width: 320px ){
    
    div .burguer-menu{
        display: block;
    }
    .menu{
        display: none;
    }
}


@media (min-width: 720px ) {
    .cabacera {
        display: flex;
        justify-content: space-around;
        
    }
    .cabecera img {
        width: 120px;
        display: block; 
    }
    .burguer-menu {
        display: none;
    }
    .menu{
        display: flex;
        justify-content: space-around;
    }
    .menu-inicio a {
        color: #9EB23B;
    }
    
    .menu-productos a {
        color: #CC9C75;
    }
    
    .menu-registro a {
        color: #D57E7E;
    }
    
    .menu-login a {
        color: #809A6F
    } 

}

