<!DOCTYPE html>
<html lang="en">
<!-- Page head -->

<%- include('../partials/head') %> 

<body>
    <!-- header -->
    <%- include('../partials/header') %>
    <!-- Page content -->
    <main>
        <form class="formulario" action="/user" method="post" enctype="multipart/form-data" id="formulario">
            <fieldset>
                <legend>Crear Cuenta</legend>

                <!--CAMPO NOMBRE-->
                    <div class="campo" id="nombre" >
                        <label for="nombre" class="formulario__label">Nombre </label> 
                        <div class="formulario-grupo-input">
                                <input type="text" class="formulario__input" placeholder="Coloca tu nombre" id="nombre" name="nombre" >   
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Debe tener al menos 2 caracteres.</p>
                    </div>   
                    
                    <!--CAMPO APELLIDO-->

                    <div class="campo" id="apellido" >
                        <label for="nombre" class="formulario__label">Apellido</label> 
                        <div class="formulario-grupo-input">
                                <input type="text" class="formulario__input" placeholder="Coloca tu apellido" id="apellido" name="apellido" >   
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Debe tener al menos 2 caracteres.</p>
                    </div>    
                        
                   <!--CAMPO CORREO-->

                   <div class="campo" id="grupo__correo">
                    <label for="email" class="formulario__label">Correo Electrónico</label>
                    <div class="formulario-grupo-input">
                        <input type="email" class="formulario__input" name="correo" id="correo" placeholder="correo@correo.com">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>   
                    </div>
                    <p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
                </div>
                   
                    <!--CAMPO CONTRASEÑA-->
                    <div class="campo" id="grupo__password">
                        <label for="password" class="formulario__label">Contraseña</label>
                        <div class="formulario-grupo-input"  >
                          <input type="password" class="formulario__input" placeholder="Tu contraseña" id="password" name="password">
                          <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">La contraseña tiene que tener al menos ocho caracteres.</p>
                    </div>

                    <!--CAMPO CORREO

                    <div class="campo" id="grupo__correo">
                        <label for="correo" class="formulario__label">Correo electrónico</label>
                        <div class="formulario-grupo-input" >
                            <input type="email" class="formulario__input" placeholder="nombre@tucorreo" id="correo" name="correo">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>  
                        <p class="formulario__input-error">Ingrese mail valido..</p>
                    </div>
                        -->

                    <div class="campo">
                        <label for="imagen">Subir una foto </label>
                        <input type="file"  id="imagen" name="imagen" multiple>
                    </div>
                    
                    <div class="formulario__mensaje" id="formulario__mensaje">
                        <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
                    </div>
                    <div class="formulario__grupo formulario__grupo-btn-enviar">
                        <input type="submit" value="Crear Cuenta" class="btn">
                        <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
                        </div>
            </fieldset>
           
            
        </form>

    
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/register.js"></script>
</body>
</html>

