<!DOCTYPE html>
<html lang="en">
    <!-- Page head -->
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="css/forms.css">
    <body>
        <!-- header -->
        
        <%- include('../partials/header') %>
        <!-- Page content -->
        <form action="/" method="get" class="carrito">
    <main>
        <form class="formulario" action="/" method="get">
            <fieldset>
                <legend>Modificar Producto</legend>
                    <div class="campo">
                        <label for="nombre">Nombre de Producto</label>
                        <input type="text" placeholder="Nombre de producto a mostrar" id="nombreProd">
                    </div>
                    <div class="campo">
                        <label for="sku">SKU</label>
                        <input type="number" placeholder="SKU">
                    </div>
                    <div class="campo">
                        <label for="descripcion">Descripción</label>
                        <input type="text" placeholder="Descripción del Producto" id="descrProd">
                    </div>
                    <div class="radio">
                        <label for="uom">Unidad de Medida</label>
                        <p><input type="radio" name="uom" value="Kg">Kg</p>
                        <p><input type="radio" name="uom" value="mg">mg</p>
                        <p><input type="radio" name="uom" value="Unidad">Unidad</p>
                    </div>
                    <div class="radio">
                        <label for="categoria">Categoría</label>
                        <p><input type="radio" name="categoria" value="Frescos">Frescos</p>
                        <p><input type="radio" name="categoria" value="Congelados">Congelados</p>
                        <p><input type="radio" name="categoria" value="Viandas">Viandas</p>
                        <p><input type="radio" name="categoria" value="Harinas y Frutos Secos">Harinas y Frutos Secos</p>
                    </div>
                    <div class="campo">
                        <label for="precio">Precio</label>
                        <input type="number">
                    </div>
                    <div class="campo">
                        <label for="imagen">Subir una foto</label>
                        <input type="file" name="fotoProducto" accept=".jpg" multiple>
                    </div>
            </fieldset>
            
            <input type="submit" value="Modificar Producto" class="btn">
            
        </form>

    
    </main>
    <%- include('../partials/footer') %>
</body>
</html>

