<!DOCTYPE html>
<html lang="en">
    <!-- Page head -->
    <%- include('../partials/head') %>
    
    <body>
        <!-- header -->
        
        <%- include('../partials/header') %>
        <!-- Page content -->
        
    <main>
        <form class="formulario" action="/" method="get">
            <fieldset>
                <legend>Nuevo Producto</legend>
                    <div class="campo">
                        <label for="nombre">Nombre de Producto</label>
                        <input type="text" placeholder="Nombre de producto a mostrar" id="nombreProd">
                    </div>
                    <div class="campo">
                        <label for="descripcion">Descripción</label>
                        <input type="text" placeholder="Descripción del Producto" id="descrProd">
                    </div>
                    <div class="radio unidad-medida" >
                        <label for="uom">Unidad de Medida</label>
                        <p><input type="radio" name="uom" value=1>Kg</p>
                        <p><input type="radio" name="uom" value=2>mg</p>
                        <p><input type="radio" name="uom" value=3>Unidad</p>
                    </div>
                    <div class="radio categoria">
                        <label for="categoria">Categoría</label>
                        <p><input type="radio" name="categoria" value=1>Frescos</p>
                        <p><input type="radio" name="categoria" value=2>Congelados</p>
                        <p><input type="radio" name="categoria" value=3>Viandas</p>
                        <p><input type="radio" name="categoria" value=4>Harinas y Frutos Secos</p>
                    </div>
                    <div class="campo">
                        <label for="precio">Precio</label>
                        <input type="number">
                    </div>
                    <div class="campo">
                        <label for="imagen">Subir una foto</label>
                        <input type="file" name="fotoProducto" accept=".jpg" multiple>
                    </div>
            </fieldset>
            
            <input type="submit" value="Crear Nuevo Producto" class="btn">
            
        </form>

    
    </main>
    <%- include('../partials/footer') %>
</body>
</html>

