<!DOCTYPE html>
<html lang="en">
    <!-- Page head -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/e6277f39af.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <title>VeganMeals</title>
        <!--<link rel="stylesheet" href="/css/registro.css"> para cabecera y footer -->
        <link rel="stylesheet" href="css/carrito.css">
    </head>
    <body>
        <!-- header -->
        <header class="cabecera">
            <div class="logo">
                <a href="/"><img src="/images/logo-vegan.png" alt="Vegan Meal" ></a>
            </div>
            <div class="navegacion">
                <div class="burger-menu">
                    <i class="fa fa-bars burger"></i>
                </div>
                <nav class="menu">
                    <div class="menu-inicio">
                        <a href="/">Inicio</a>
                    </div>
                    <div class="menu-productos">
                        <a href="detalle">Productos</a>
                    </div>
                    <div class="menu-registro">
                        <a href="registro">Registro</a>
                    </div>
                    <div class="menu-login">
                        <a href="login">Login</a>
                    </div>
                </nav>
            </div>
            <div class="busqueda"> 
                <input type="text" placeholder="Búsqueda" id="busqueda">
            </div>
            <div class="cart">
                    <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>   
            </div>
        </header>
        
        <!-- Page content -->
        <form action="/" method="get" class="carrito">
            <main>
                <section>
                    <h3>Productos seleccionados</h3>
                    <div>
                        <article class="producto">
                            <img src="images/galletas-veganas.jpg"  alt="Producto 1" class="product_img">
                            <div class="main-article">
                                <div class="img_carrito">
                                    <i class="fas fa-truck"></i>
                                </div>
                                <div class="price">
                                    <label for="price">Precio: </label>
                                    <p name="price">$1111111</p>
                                </div>
                                <div class="description">
                                    <label for="description">Descripción: </label>
                                    <h4 name="description">Galleta raices de chocolate</h4>
                                </div>
                                <div>
                                    <label for="Cantidad" class="description">Cantidad: </label>
                                    <select name="Cantidad" class="description">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="Eliminar" class="description">Eliminar: </label>
                                    <i class="fa-solid fa-trash-can"></i>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            </main>
        </form>
        
        <footer class="footer">
            <div class="logo-footer">   
                <a href="/"><img src="/images/logo-vegan.png" alt="Vegan Meal" ></a>
               
            </div>
            <h3>100% Natural</h3>
           <div class="redes-sociales">
                <h3>Siguenos en redes sociales</h3>
                <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-square"></i>Facebook</a>
                <a href="https://www.facebook.com/"><i class="fa-brands fa-instagram-square"></i></i>Instagram</a>
                <a href="https://www.facebook.com/"><i class="fa-brands fa-twitter-square"></i></i>Twitter</a>
           </div>
    
        </footer>
    </body>
</html>