<!DOCTYPE html>
<html lang="en">
    <!-- Page head -->
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="css/carrito.css">
    <body>
        <!-- header -->
        
        <%- include('../partials/header') %>
        <!-- Page content -->
        <form action="/" method="get" class="newProduct">
            <main>
                <section>
                    <h3>Nuevo Producto</h3>
                    <div>
                        <article class="producto">
                            <img src="images/galletas-veganas.jpg"  alt="Producto 1" class="product_img">
                            <div class="main-article">
                                <div class="img_carrito">
                                    <i class="fas fa-truck"></i>
                                </div>
                                <div class="price">
                                    <label for="price">Precio: </label>
                                    <p name="price">$1111111</p>
                                </div>
                                <div class="description">
                                    <label for="description">Descripción: </label>
                                    <h4 name="description">Galleta raices de chocolate</h4>
                                </div>
                                <div>
                                    <label for="Cantidad" class="description">Cantidad: </label>
                                    <select name="Cantidad" class="description">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="Eliminar" class="description">Eliminar: </label>
                                    <i class="fa-solid fa-trash-can"></i>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            </main>
        </form>
        <%- include('../partials/footer') %>
    </body>
</html>